.myDialog{
    -fx-background-color: #ffffff;
}
.myDialog > *.button-bar > *.container{
    -fx-background-color: #ffffff;
}
.myDialog > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #03254f;
}


